body { 
margin:0; 
}  
* {
	box-sizing: border-box;
	}

div.sticky{
position: -webkit-sticky;
position: sticky;
top: 0;
 z-index: 1;
}

.header {
   overflow: hidden;
   padding: 5px 20px 5px;
   background: #555;
}

.header a:link, .header a:visited {
  float: left;
  color: white;
  text-align: center;
  padding: 5px 20px 5px;
  text-decoration: none;
  font-size: 20px; 
  line-height: 25px;
  border-radius: 4px;
  }

.header a.home {
  font-size: 20px;
  font-weight: none;
}

/* The :hover selector is used to select elements when you mouse over them. -- > */
.header a:hover {
  background-color: #ddd;
  color: black;
}

.header-right {
 padding: 10px 10px;
  float: right;
}
/*footer */
footer{
	color:#FFF;
	font-size:10px;
	background: #555;
	position:absolute;
	width:100%;
	text-align:center;
	height:60px;
	
}